html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #1b1b1b;
  color: #fff;
  font-family: -apple-system, system-ui, Segoe UI, Roboto, Arial;
}

#topbar, #bottombar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
  background: rgba(0,0,0,0.35);
  backdrop-filter: blur(6px);
}

#mult {
  font-weight: 700;
}

canvas {
  display: block;
  width: 100%;
  height: calc(100% - 110px);
  touch-action: none;
  background: #2a1a12; /* земля */
}

button {
  border: 0;
  border-radius: 10px;
  padding: 10px 14px;
  font-size: 16px;
}
